In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 10.5 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=00ee13431fca8f0a2d4b4cb72f67d1bc6cbac0e063838d6eee13f2f505158792
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
# Import SparkSession
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder.master("local[1]").appName("SparkByExample.com").getOrCreate()

- Using parallelize

In [ ]:
# Create RDD from parallelize
datalist = [("Java",20000),("Python",100000),("Scala",3000)]
rdd = spark.sparkContext.parallelize(datalist)

- Using textFile

In [ ]:
rdd2 = spark.sparkContext.textFile("F:\a.txt")

**- Creating Spark DataFrame**

In [ ]:
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

columns = ["firstname","middlename","lastname","dob","gender","salary"]

df = spark.createDataFrame(data=data,schema=columns)

In [ ]:
df.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

In [ ]:
df = spark.read.csv("/content/employees.csv",header=True)
df.printSchema()

root
 |-- First Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Start Date: string (nullable = true)
 |-- Last Login Time: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Bonus %: string (nullable = true)
 |-- Senior Management: string (nullable = true)
 |-- Team: string (nullable = true)

-  PySpark SQL

In [ ]:
df.createOrReplaceTempView("EMPLOYEE_DATA")
df2 = spark.sql("SELECT * FROM EMPLOYEE_DATA")
df2.printSchema()
df2.show()

root
 |-- First Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Start Date: string (nullable = true)
 |-- Last Login Time: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Bonus %: string (nullable = true)
 |-- Senior Management: string (nullable = true)
 |-- Team: string (nullable = true)

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|  8/6/1993|       12:42 PM| 97308|  6.945|             true|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Maria|Female| 4/23/1993|       11:17 AM|130590| 11.858|            false|             Finance|
|     Jerry|  Male|  3/4/2005|        1:00 PM|138705|   9.34|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|101004|  1.389|             true|     Client Services|
|    Dennis|  Male| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female| 8/17/1987|        4:20 PM| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM| 45906| 11.598|             null|             Finance|
|    Angela|Female|11/22/2005|        6:29 AM| 95570| 18.523|             true|         Engineering|
|   Frances|Female|  8/8/2002|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female| 8/12/1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male| 12/1/1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|  6/5/2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male| 12/7/1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [ ]:
groupDF = spark.sql("SELECT Gender,COUNT(*) FROM EMPLOYEE_DATA GROUP BY Gender")
groupDF.show()

+------+--------+
|Gender|count(1)|
+------+--------+
|  null|     145|
|Female|     431|
|  Male|     424|
+------+--------+

- PySpark Streaming

In [ ]:
df = spark.readStream.format("socket").option("host","localhost").option("port","9090").load()

In [ ]:
df.printSchema()

root
 |-- value: string (nullable = true)

## PySpark MLlib

In [ ]:
from pyspark.sql import SparkSession
from pyspark.ml.regression import LinearRegression
spark = SparkSession.builder.appName("HouseIncome").getOrCreate()
dataset = spark.read.csv("/content/insurance.csv",header=True)
dataset.show(10)

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|
| 18|  male| 33.77|       1|    no|southeast|  1725.5523|
| 28|  male|    33|       3|    no|southeast|   4449.462|
| 33|  male|22.705|       0|    no|northwest|21984.47061|
| 32|  male| 28.88|       0|    no|northwest|  3866.8552|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|
| 60|female| 25.84|       0|    no|northwest|28923.13692|
+---+------+------+--------+------+---------+-----------+
only showing top 10 rows

In [ ]:
dataset.cache()
dataset.printSchema()

root
 |-- age: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- bmi: string (nullable = true)
 |-- children: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- region: string (nullable = true)
 |-- charges: string (nullable = true)

In [ ]:
dataset.describe().toPandas().transpose()

              0                   1                   2          3           4
summary   count                mean              stddev        min         max
age        1338   39.20702541106129  14.049960379216147         18          64
sex        1338                None                None     female        male
bmi        1338  30.663396860986538   6.098186911679012      15.96       53.13
children   1338     1.0949177877429   1.205492739781914          0           5
smoker     1338                None                None         no         yes
region     1338                None                None  northeast   southwest
charges    1338  13270.422265141257  12110.011236693992  10043.249  9991.03765

In [ ]:
import pandas as pd

numeric_features = [t[0] for t in dataset.dtypes if t[1]=="int" or t[1] == "double"]
sampled_data = dataset.select(numeric_features).sample(False,0.8).toPandas()

In [ ]:
dataset.show(2)

+---+------+-----+--------+------+---------+---------+
|age|   sex|  bmi|children|smoker|   region|  charges|
+---+------+-----+--------+------+---------+---------+
| 19|female| 27.9|       0|   yes|southwest|16884.924|
| 18|  male|33.77|       1|    no|southeast|1725.5523|
+---+------+-----+--------+------+---------+---------+
only showing top 2 rows

In [ ]:
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
from pyspark.ml import Pipeline

from pyspark.ml.feature import VectorAssembler,StringIndexer,VectorIndexer,MinMaxScaler
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.tuning import ParamGridBuilder,CrossValidator
from pyspark.ml.evaluation import BinaryClassificationEvaluator

spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
csv = spark.read.csv("/content/flights.csv",inferSchema=True,header=True)
csv.show(10)

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          11433|        13303|      -3|       1|
|        19|        5|     DL|          14869|        12478|       0|      -8|
|        19|        5|     DL|          14057|        14869|      -4|     -15|
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          11193|        12892|      -6|     -11|
|        19|        5|     DL|          10397|        15016|      -1|     -19|
|        19|        5|     DL|          15016|        10397|       0|      -1|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 10 rows

In [ ]:
data = csv.select("DayofMonth","DayofWeek","Carrier","OriginAirportID","DestAirportID","DepDelay",
                  ((col("ArrDelay")>15).cast("Int").alias("label")))
data.show(10)

+----------+---------+-------+---------------+-------------+--------+-----+
|DayofMonth|DayofWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|label|
+----------+---------+-------+---------------+-------------+--------+-----+
|        19|        5|     DL|          11433|        13303|      -3|    0|
|        19|        5|     DL|          14869|        12478|       0|    0|
|        19|        5|     DL|          14057|        14869|      -4|    0|
|        19|        5|     DL|          15016|        11433|      28|    1|
|        19|        5|     DL|          11193|        12892|      -6|    0|
|        19|        5|     DL|          10397|        15016|      -1|    0|
|        19|        5|     DL|          15016|        10397|       0|    0|
|        19|        5|     DL|          10397|        14869|      15|    1|
|        19|        5|     DL|          10397|        10423|      33|    1|
|        19|        5|     DL|          11278|        10397|     323|    1|
+----------+---------+-------+---------------+-------------+--------+-----+
only showing top 10 rows

In [ ]:
splits = data.randomSplit([0.7,0.3])
train = splits[0]
test = splits[1].withColumnRenamed("label","trueLabel")
train_rows =train.count()
test_rows = test.count()
print("Training Rows: ",train_rows,"Testing Rows: ",test_rows)

Training Rows:  1890917 Testing Rows:  811301

**Define the pipeline**

- A pipeline consists of a series of transformer and estimator stages that typically prepare a DataFrame for modeling and then train a predictive model.

- `StringIndexer estimator` It converts string values to indexes for categorical features.
- `VectorAssembler` It combines categorical features into a single vector.
- `VectorIndexer` It created indexes for a vector of categorical features.
- `VectorAssember` It creates a vectoe of continuous numeric features
- `VectoeAssembler` It creates a vector of categorical and continuous features

In [ ]:
strIdx = StringIndexer(inputCol="Carrier",outputCol="CarrierIdx")
catVect = VectorAssembler(inputCols=["CarrierIdx","DayofMonth","DayofWeek","OriginAirportID","DestAirportID"],
                          outputCol="catFeatures")
catIdx = VectorIndexer(inputCol=catVect.getOutputCol(),outputCol="idxCatFeatures")
numVect = VectorAssembler(inputCols=["DepDelay"],outputCol="numFeatures")
minMax =MinMaxScaler(inputCol=numVect.getOutputCol(),outputCol="normFeatures")
featVect = VectorAssembler(inputCols=["idxCatFeatures","normFeatures"],outputCol="features")
lr = LogisticRegression(labelCol="label",featuresCol="features",maxIter=10,regParam=0.3)

pipeline = Pipeline(stages=[strIdx,catVect,catIdx,numVect,minMax,featVect,lr])

**Run the Pipeline to train a model**

In [ ]:
%time
pipelineModel = pipeline.fit(train)

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 5.72 µs

**Generate label predictions**

In [ ]:
prediction = pipelineModel.transform(test)
predicted = prediction.select("features","prediction","trueLabel")
predicted.show(100,truncate=False)

+---------------------------------------------------+----------+---------+
|features                                           |prediction|trueLabel|
+---------------------------------------------------+----------+---------+
|[10.0,1.0,0.0,10397.0,13851.0,0.03374870197300104] |0.0       |0        |
|[10.0,1.0,0.0,10423.0,13487.0,0.027518172377985463]|0.0       |0        |
|[10.0,1.0,0.0,10423.0,13487.0,0.030633437175493248]|0.0       |0        |
|[10.0,1.0,0.0,10423.0,13487.0,0.03167185877466251] |0.0       |0        |
|[10.0,1.0,0.0,10423.0,14869.0,0.027518172377985463]|0.0       |0        |
|[10.0,1.0,0.0,10529.0,11193.0,0.030633437175493248]|0.0       |0        |
|[10.0,1.0,0.0,10529.0,11433.0,0.030114226375908618]|0.0       |0        |
|[10.0,1.0,0.0,10693.0,12478.0,0.03686396677050883] |0.0       |0        |
|[10.0,1.0,0.0,10721.0,13931.0,0.028556593977154723]|0.0       |0        |
|[10.0,1.0,0.0,10721.0,13931.0,0.041536863966770504]|0.0       |0        |
|[10.0,1.0,0.0,10792.0,11433.0,0.030633437175493248]|0.0       |0        |
|[10.0,1.0,0.0,10792.0,11433.0,0.03686396677050883] |0.0       |1        |
|[10.0,1.0,0.0,10792.0,12478.0,0.055036344755970926]|0.0       |1        |
|[10.0,1.0,0.0,10821.0,11193.0,0.07840083073727934] |0.0       |1        |
|[10.0,1.0,0.0,10821.0,12478.0,0.027518172377985463]|0.0       |0        |
|[10.0,1.0,0.0,10821.0,12478.0,0.029595015576323987]|0.0       |1        |
|[10.0,1.0,0.0,10821.0,12478.0,0.030633437175493248]|0.0       |0        |
|[10.0,1.0,0.0,10821.0,13487.0,0.029075804776739357]|0.0       |0        |
|[10.0,1.0,0.0,10821.0,13487.0,0.06749740394600208] |0.0       |1        |
|[10.0,1.0,0.0,10821.0,14492.0,0.029075804776739357]|0.0       |0        |
|[10.0,1.0,0.0,10821.0,14492.0,0.030114226375908618]|0.0       |0        |
|[10.0,1.0,0.0,11042.0,11433.0,0.029595015576323987]|0.0       |0        |
|[10.0,1.0,0.0,11042.0,11433.0,0.059190031152647975]|0.0       |1        |
|[10.0,1.0,0.0,11042.0,12478.0,0.030633437175493248]|0.0       |0        |
|[10.0,1.0,0.0,11042.0,13487.0,0.02596053997923157] |0.0       |0        |
|[10.0,1.0,0.0,11042.0,13487.0,0.028037383177570093]|0.0       |0        |
|[10.0,1.0,0.0,11042.0,13487.0,0.03115264797507788] |0.0       |0        |
|[10.0,1.0,0.0,11057.0,11193.0,0.028037383177570093]|0.0       |0        |
|[10.0,1.0,0.0,11057.0,11193.0,0.0861889927310488]  |0.0       |1        |
|[10.0,1.0,0.0,11057.0,12478.0,0.03115264797507788] |0.0       |0        |
|[10.0,1.0,0.0,11057.0,12478.0,0.04880581516095535] |0.0       |1        |
|[10.0,1.0,0.0,11066.0,10721.0,0.03946002076843198] |0.0       |0        |
|[10.0,1.0,0.0,11066.0,12478.0,0.08255451713395638] |0.0       |1        |
|[10.0,1.0,0.0,11066.0,13487.0,0.030114226375908618]|0.0       |0        |
|[10.0,1.0,0.0,11066.0,13487.0,0.030114226375908618]|0.0       |0        |
|[10.0,1.0,0.0,11066.0,13487.0,0.032191069574247146]|0.0       |0        |
|[10.0,1.0,0.0,11193.0,10529.0,0.029595015576323987]|0.0       |0        |
|[10.0,1.0,0.0,11193.0,10721.0,0.03115264797507788] |0.0       |0        |
|[10.0,1.0,0.0,11193.0,10721.0,0.03946002076843198] |0.0       |0        |
|[10.0,1.0,0.0,11193.0,10821.0,0.030633437175493248]|0.0       |0        |
|[10.0,1.0,0.0,11193.0,11057.0,0.028556593977154723]|0.0       |0        |
|[10.0,1.0,0.0,11193.0,11057.0,0.06334371754932502] |0.0       |1        |
|[10.0,1.0,0.0,11193.0,11278.0,0.10955347871235721] |1.0       |1        |
|[10.0,1.0,0.0,11193.0,11298.0,0.03271028037383177] |0.0       |0        |
|[10.0,1.0,0.0,11193.0,11433.0,0.029075804776739357]|0.0       |0        |
|[10.0,1.0,0.0,11193.0,11433.0,0.030114226375908618]|0.0       |0        |
|[10.0,1.0,0.0,11193.0,11433.0,0.03115264797507788] |0.0       |0        |
|[10.0,1.0,0.0,11193.0,11433.0,0.03167185877466251] |0.0       |0        |
|[10.0,1.0,0.0,11193.0,11618.0,0.033229491173416406]|0.0       |0        |
|[10.0,1.0,0.0,11193.0,11618.0,0.041536863966770504]|0.0       |0        |
|[10.0,1.0,0.0,11193.0,13198.0,0.040498442367601244]|0.0       |0        |
|[10.0,1.0,0.0,11193.0,13244.0,0.028037383177570093]|0.0       |0        |
|[10.0,1.0,0.0,11193.0,13244.0,0.032191069574247146]|0.0       |0        |
|[10.0,1.0,0.0,11193.0,13342.0,0.04205607476635514] |0.0       |0        |
|[10.0,1.0,0.0,11193.0,13487.0,0.029075804776739357]|0.0       |0        |
|[10.0,1.0,0.0,11193.0,13487.0,0.029595015576323987]|0.0       |0        |
|[10.0,1.0,0.0,11193.0,13487.0,0.030633437175493248]|0.0       |0        |
|[10.0,1.0,0.0,11193.0,13487.0,0.030633437175493248]|0.0       |0        |
|[10.0,1.0,0.0,11193.0,13487.0,0.03271028037383177] |0.0       |1        |
|[10.0,1.0,0.0,11193.0,13930.0,0.030114226375908618]|0.0       |0        |
|[10.0,1.0,0.0,11193.0,13930.0,0.030633437175493248]|0.0       |0        |
|[10.0,1.0,0.0,11193.0,13930.0,0.032191069574247146]|0.0       |0        |
|[10.0,1.0,0.0,11193.0,13930.0,0.04776739356178608] |0.0       |1        |
|[10.0,1.0,0.0,11193.0,13930.0,0.04880581516095535] |0.0       |1        |
|[10.0,1.0,0.0,11193.0,13930.0,0.07217030114226376] |0.0       |1        |
|[10.0,1.0,0.0,11193.0,14100.0,0.029595015576323987]|0.0       |0        |
|[10.0,1.0,0.0,11193.0,14100.0,0.03271028037383177] |0.0       |0        |
|[10.0,1.0,0.0,11193.0,14100.0,0.10124610591900311] |1.0       |1        |
|[10.0,1.0,0.0,11193.0,14122.0,0.029075804776739357]|0.0       |0        |
|[10.0,1.0,0.0,11193.0,14122.0,0.049325025960539975]|0.0       |1        |
|[10.0,1.0,0.0,11193.0,14492.0,0.04620976116303219] |0.0       |1        |
|[10.0,1.0,0.0,11278.0,11193.0,0.030114226375908618]|0.0       |0        |
|[10.0,1.0,0.0,11278.0,11193.0,0.030633437175493248]|0.0       |0        |
|[10.0,1.0,0.0,11278.0,11193.0,0.040498442367601244]|0.0       |0        |
|[10.0,1.0,0.0,11278.0,12478.0,0.030114226375908618]|0.0       |1        |
|[10.0,1.0,0.0,11278.0,13244.0,0.03115264797507788] |0.0       |0        |
|[10.0,1.0,0.0,11278.0,13244.0,0.04672897196261682] |0.0       |1        |
|[10.0,1.0,0.0,11298.0,11193.0,0.029595015576323987]|0.0       |0        |
|[10.0,1.0,0.0,11298.0,13244.0,0.029075804776739357]|0.0       |0        |
|[10.0,1.0,0.0,11298.0,14869.0,0.03426791277258567] |0.0       |0        |
|[10.0,1.0,0.0,11433.0,10423.0,0.03167185877466251] |0.0       |0        |
|[10.0,1.0,0.0,11433.0,10529.0,0.03374870197300104] |0.0       |0        |
|[10.0,1.0,0.0,11433.0,10693.0,0.033229491173416406]|0.0       |1        |
|[10.0,1.0,0.0,11433.0,10792.0,0.030633437175493248]|0.0       |0        |
|[10.0,1.0,0.0,11433.0,10792.0,0.03115264797507788] |0.0       |0        |
|[10.0,1.0,0.0,11433.0,11042.0,0.0347871235721703]  |0.0       |0        |
|[10.0,1.0,0.0,11433.0,11066.0,0.030114226375908618]|0.0       |0        |
|[10.0,1.0,0.0,11433.0,11193.0,0.030114226375908618]|0.0       |0        |
|[10.0,1.0,0.0,11433.0,11193.0,0.07372793354101766] |0.0       |1        |
|[10.0,1.0,0.0,11433.0,11298.0,0.03167185877466251] |0.0       |0        |
|[10.0,1.0,0.0,11433.0,12264.0,0.03167185877466251] |0.0       |0        |
|[10.0,1.0,0.0,11433.0,12266.0,0.032191069574247146]|0.0       |0        |
|[10.0,1.0,0.0,11433.0,12339.0,0.03894080996884735] |0.0       |1        |
|[10.0,1.0,0.0,11433.0,12451.0,0.0430944963655244]  |0.0       |1        |
|[10.0,1.0,0.0,11433.0,12478.0,0.03271028037383177] |0.0       |0        |
|[10.0,1.0,0.0,11433.0,12478.0,0.03271028037383177] |0.0       |1        |
|[10.0,1.0,0.0,11433.0,13232.0,0.030633437175493248]|0.0       |0        |
|[10.0,1.0,0.0,11433.0,13342.0,0.03167185877466251] |0.0       |0        |
|[10.0,1.0,0.0,11433.0,13851.0,0.033229491173416406]|0.0       |0        |
|[10.0,1.0,0.0,11433.0,13871.0,0.030114226375908618]|0.0       |0        |
+---------------------------------------------------+----------+---------+
only showing top 100 rows

**Compute Confusion Matrix**

In [ ]:
tp = float(predicted.filter("prediction==1.0 AND truelabel == 1").count())
fp = float(predicted.filter("prediction==1.0 AND truelabel == 0").count())
tn = float(predicted.filter("prediction == 0.0 AND truelabel == 0").count())
fn = float(predicted.filter("prediction == 0.0 AND truelabel == 1").count())

pr = tp / (tp+fp)
re = tp / (tp+fn)
metrics = spark.createDataFrame([
    ("TP",tp),
    ("FP",fp),
    ("TN",tn),
    ("FN",fn),
    ("Precision",pr),
    ("Recall",re),
    ("F1",2*pr*re/(re+pr))],["metric","value"])
metrics.show()

+---------+-------------------+
|   metric|              value|
+---------+-------------------+
|       TP|            19326.0|
|       FP|               83.0|
|       TN|           649607.0|
|       FN|           142285.0|
|Precision| 0.9957236333659643|
|   Recall|0.11958344419624901|
|       F1| 0.2135233675836924|
+---------+-------------------+

**Review the Area Under ROC**

In [ ]:
evaluator = BinaryClassificationEvaluator(labelCol="trueLabel",rawPredictionCol="rawPrediction",
                                          metricName="areaUnderROC")
aur = evaluator.evaluate(prediction)
print("AUR = ",aur)

AUR =  0.9228129212062658

**View the Raw Prediction and Probability**

In [ ]:
prediction.select("rawPrediction","probability","prediction","trueLabel").show(50,truncate=False)

+------------------------------------------+----------------------------------------+----------+---------+
|rawPrediction                             |probability                             |prediction|trueLabel|
+------------------------------------------+----------------------------------------+----------+---------+
|[1.5304616427232163,-1.5304616427232163]  |[0.8220738480129977,0.17792615198700235]|0.0       |0        |
|[1.698117069352831,-1.698117069352831]    |[0.84528865332041,0.15471134667958997]  |0.0       |0        |
|[1.6143364033628447,-1.6143364033628447]  |[0.8340125688611023,0.1659874311388977] |0.0       |0        |
|[1.5864095146995156,-1.5864095146995156]  |[0.8301103471193907,0.1698896528806093] |0.0       |0        |
|[1.6986221583213963,-1.6986221583213963]  |[0.8453546951878099,0.15464530481219008]|0.0       |0        |
|[1.6144239837852346,-1.6144239837852346]  |[0.8340246927550932,0.16597530724490683]|0.0       |0        |
|[1.6284751425542763,-1.6284751425542763]  |[0.8359606415010922,0.16403935849890783]|0.0       |0        |
|[1.4487649444040385,-1.4487649444040385]  |[0.8098082849520236,0.19019171504797638]|0.0       |0        |
|[1.6729556911476227,-1.6729556911476227]  |[0.8419694937744693,0.15803050622553072]|0.0       |0        |
|[1.3238695828560127,-1.3238695828560127]  |[0.7898247838564773,0.21017521614352275]|0.0       |0        |
|[1.6168091874540873,-1.6168091874540873]  |[0.8343546075419003,0.16564539245809973]|0.0       |0        |
|[1.4492478554741146,-1.4492478554741146]  |[0.8098826512210052,0.19011734877899478]|0.0       |1        |
|[0.9609092271452753,-0.9609092271452753]  |[0.7233038106109684,0.2766961893890316] |0.0       |1        |
|[0.3323379298180824,-0.3323379298180824]  |[0.5823281222073249,0.4176718777926751] |0.0       |1        |
|[1.7012251120379855,-1.7012251120379855]  |[0.8456946738641418,0.15430532613585823]|0.0       |0        |
|[1.6453713347113281,-1.6453713347113281]  |[0.8382644913802798,0.1617355086197202] |0.0       |1        |
|[1.6174444460479993,-1.6174444460479993]  |[0.8344423860768554,0.1655576139231446] |0.0       |0        |
|[1.6597035451568005,-1.6597035451568005]  |[0.8401982035069676,0.1598017964930324] |0.0       |0        |
|[0.6264086646136349,-0.6264086646136349]  |[0.6516746924720445,0.34832530752795554]|0.0       |1        |
|[1.660070849363319,-1.660070849363319]    |[0.84024751351108,0.15975248648892004]  |0.0       |0        |
|[1.63214396069999,-1.63214396069999]      |[0.836463128256702,0.163536871743298]   |0.0       |0        |
|[1.6469200012423928,-1.6469200012423928]  |[0.8384743451741649,0.16152565482583514]|0.0       |0        |
|[0.8510036743375222,-0.8510036743375222]  |[0.7007776436790562,0.29922235632094385]|0.0       |1        |
|[1.6193750358584786,-1.6193750358584786]  |[0.8347089215815795,0.1652910784184205] |0.0       |0        |
|[1.745414800957266,-1.745414800957266]    |[0.8513735405838329,0.14862645941616714]|0.0       |0        |
|[1.6895610236306084,-1.6895610236306084]  |[0.8441664214897168,0.15583357851028323]|0.0       |0        |
|[1.6057803576406222,-1.6057803576406222]  |[0.8328247200854156,0.16717527991458436]|0.0       |0        |
|[1.688853655307507,-1.688853655307507]    |[0.8440733449028233,0.15592665509717674]|0.0       |0        |
|[0.12494789016109475,-0.12494789016109475]|[0.5311963966492138,0.4688036033507862] |0.0       |1        |
|[1.6055426270343127,-1.6055426270343127]  |[0.8327916187796183,0.16720838122038173]|0.0       |0        |
|[1.1307855197577232,-1.1307855197577232]  |[0.7559838348488609,0.2440161651511391] |0.0       |1        |
|[1.3815639962552138,-1.3815639962552138]  |[0.7992420674457076,0.20075793255429242]|0.0       |0        |
|[0.2232402595040366,-0.2232402595040366]  |[0.5555794339926351,0.4444205660073649] |0.0       |1        |
|[1.6339169031159488,-1.6339169031159488]  |[0.8367055089436252,0.16329449105637484]|0.0       |0        |
|[1.6339169031159488,-1.6339169031159488]  |[0.8367055089436252,0.16329449105637484]|0.0       |0        |
|[1.5780631257892912,-1.5780631257892912]  |[0.8289300344255298,0.17106996557447018]|0.0       |0        |
|[1.6479087009704234,-1.6479087009704234]  |[0.8386082050311223,0.16139179496887768]|0.0       |0        |
|[1.6060885395253321,-1.6060885395253321]  |[0.8328676231412326,0.16713237685876736]|0.0       |0        |
|[1.3826734302187018,-1.3826734302187018]  |[0.7994200216710551,0.20057997832894492]|0.0       |0        |
|[1.6200885315392373,-1.6200885315392373]  |[0.8348073390287067,0.16519266097129326]|0.0       |0        |
|[1.6760285613959827,-1.6760285613959827]  |[0.8423779307389339,0.15762206926106614]|0.0       |0        |
|[0.7404777911744682,-0.7404777911744682]  |[0.6771003271765075,0.3228996728234925] |0.0       |1        |
|[-0.5021879839659111,0.5021879839659111]  |[0.3770266223821021,0.6229733776178978] |1.0       |1        |
|[1.5644090866568674,-1.5644090866568674]  |[0.8269851181255851,0.17301488187441494]|0.0       |0        |
|[1.6622025363495432,-1.6622025363495432]  |[0.8405334458335995,0.15946655416640054]|0.0       |0        |
|[1.6342756476862144,-1.6342756476862144]  |[0.836754518078701,0.16324548192129895] |0.0       |0        |
|[1.6063487590228855,-1.6063487590228855]  |[0.8329038423354632,0.16709615766453678]|0.0       |0        |
|[1.5923853146912212,-1.5923853146912212]  |[0.8309514355176593,0.16904856448234074]|0.0       |0        |
|[1.550562594908373,-1.550562594908373]    |[0.8249949731661526,0.17500502683384744]|0.0       |0        |
|[1.327147485601743,-1.327147485601743]    |[0.7903684040040377,0.20963159599596226]|0.0       |0        |
+------------------------------------------+----------------------------------------+----------+---------+
only showing top 50 rows

**Tune Parameters**

In [ ]:
paramGrid = ParamGridBuilder().addGrid(lr.regParam,[0.3,0.1]).addGrid(lr.maxIter,[10,5]).addGrid(lr.threshold,
                                                                                                 [0.4,0.3]).build()
cv = CrossValidator(estimator=pipeline,
                    evaluator=BinaryClassificationEvaluator(),
                    estimatorParamMaps=paramGrid,
                    numFolds=2)
model = cv.fit(train)

In [ ]:
%%time
newPrediction = model.transform(test)
newPredicted = prediction.select("features", "prediction", "trueLabel")
newPredicted.show()

+--------------------+----------+---------+
|            features|prediction|trueLabel|
+--------------------+----------+---------+
|[10.0,1.0,0.0,103...|       0.0|        0|
|[10.0,1.0,0.0,104...|       0.0|        0|
|[10.0,1.0,0.0,104...|       0.0|        0|
|[10.0,1.0,0.0,104...|       0.0|        0|
|[10.0,1.0,0.0,104...|       0.0|        0|
|[10.0,1.0,0.0,105...|       0.0|        0|
|[10.0,1.0,0.0,105...|       0.0|        0|
|[10.0,1.0,0.0,106...|       0.0|        0|
|[10.0,1.0,0.0,107...|       0.0|        0|
|[10.0,1.0,0.0,107...|       0.0|        0|
|[10.0,1.0,0.0,107...|       0.0|        0|
|[10.0,1.0,0.0,107...|       0.0|        1|
|[10.0,1.0,0.0,107...|       0.0|        1|
|[10.0,1.0,0.0,108...|       0.0|        1|
|[10.0,1.0,0.0,108...|       0.0|        0|
|[10.0,1.0,0.0,108...|       0.0|        1|
|[10.0,1.0,0.0,108...|       0.0|        0|
|[10.0,1.0,0.0,108...|       0.0|        0|
|[10.0,1.0,0.0,108...|       0.0|        1|
|[10.0,1.0,0.0,108...|       0.0|        0|
+--------------------+----------+---------+
only showing top 20 rows

CPU times: user 72.9 ms, sys: 11.9 ms, total: 84.8 ms
Wall time: 8.04 s

In [ ]:
# Recalculate confusion matrix
tp2 = float(newPrediction.filter("prediction == 1.0 AND truelabel == 1").count())
fp2 = float(newPrediction.filter("prediction == 1.0 AND truelabel == 0").count())
tn2 = float(newPrediction.filter("prediction == 0.0 AND truelabel == 0").count())
fn2 = float(newPrediction.filter("prediction == 0.0 AND truelabel == 1").count())
pr2 = tp2 / (tp2 + fp2)
re2 = tp2 / (tp2 + fn2)
metrics2 = spark.createDataFrame([
 ("TP", tp2),
 ("FP", fp2),
 ("TN", tn2),
 ("FN", fn2),
 ("Precision", pr2),
 ("Recall", re2),
 ("F1", 2*pr2*re2/(re2+pr2))],["metric", "value"])
metrics2.show()

+---------+------------------+
|   metric|             value|
+---------+------------------+
|       TP|           61313.0|
|       FP|             236.0|
|       TN|          649454.0|
|       FN|          100298.0|
|Precision|0.9961656566313019|
|   Recall|0.3793863041500888|
|       F1|0.5494981179422835|
+---------+------------------+

In [ ]:
# Recalculate the Area Under ROC
evaluator2 = BinaryClassificationEvaluator(labelCol="trueLabel", rawPredictionCol="prediction", metricName="areaUnderROC")
aur2 = evaluator.evaluate(prediction)
print( "AUR2 = ", aur2)

AUR2 =  0.9228129212062658